{{partial:partials/main-slider}}

<div class="container-lg my-12 mx-auto">

    {{ collection:company title:is="Introduction"}}
    <div class="text-md mt-4 font-medium text-orange-500">
        {{title}}
    </div>

    <div class="flex">
        <div class="col-8">
            <div class="text-5xl text-sky-600 pb-4 font-normal">
                Madhya Bhotekoshi Jalavidyut Compant Limited
            </div>
            <div class=" text-justify">
                {{content}}
            </div>
        </div>
        <div class="mx-auto my-auto text-center col-4">
            <img src="../assets/ram-gopal-shiwakoti.jpg" class="mx-auto" style="height: 200px;" alt="">
            Mr. Subhash Kumar Mishra,<br>Director Representative from CHPCL
        </div>
    </div>
    {{/collection:company}}
</div>