<div class="main-header">
    <div class="container p-3">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-1">
                <div class="logo">
                    <a href="https://mbjcl.com.np/"><img src="../assets/mbkjcl-logo.png" alt=""></a>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-12 col-lg-7">
                <div class="py-3">
                    <span class="text-sky-600 fs-2">Madhya Bhotekoshi Jalavidyut Compant Limited</span><br>
                    <div class="text-zinc-700 fs-3 mt-2">मध्य भोटेकोशी जलविद्युत कम्पनी लिमिटेड</div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-4">
                <div class="flex p-3">
                    <div class="fs-1 border-zinc-900 border-r-2"><i class="fa-solid fa-envelope my-3 mx-2"></i></div>
                    <div class="m-2">
                        <p class="font-thin">E-mail us</p>
                        <h4><a href="mailto:admin@mbjcl.com.np" class="font-medium">admin@mbjcl.com.np</a></h4>
                    </div>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>